.content p:first-child {margin-bottom: 50px;}

h2:nth-child(2) {margin-bottom: 50px;}
/* category list page : products */

.category-wrapper {display: flex; align-items: stretch; background-color: #dddddd; 
                    flex-wrap: wrap;  border-radius:5px; margin: 30px; justify-content: center; padding: 15px;}
.category-item {box-sizing: border-box; background-color: white; border-radius:5px; width: 30%; 
                margin: 10px; justify-content: center;}
.image {text-align: center; margin: 15px;}
.category-item p {text-align: center;}
.category-item a:hover {text-decoration: none;}

/* product list page :cat_details */

.products-wrapper {display: flex; align-items: stretch; background-color: #e0eff7; padding: 10px; justify-content: center;
                    flex-wrap: wrap; margin: 60px 20px; border-radius:7px;}
.products-item {background-color: #ffffff; margin: 10px; border-radius:5px; width: 28%; justify-content: center;}
.products-item p {text-align: center;}
.products-item a:hover {text-decoration: none;}

/* product detail page :product */ 

.product-item {display: flex; background-color: #ffffff; margin: 10px; border-radius:5px; width: 800px; justify-content: center; margin: 0 auto;}

.desc  {flex: 1; text-align: center; margin: 20px; background-color: #e0eff7; padding: 20px; border-radius:10px;}
.desc tr {width: 60px;}
.desc th {color:#444444; padding: 15px 10px; border:none; background: none; text-align: right; vertical-align: top;}
.desc td {color:#444444; padding: 5px 10px; border:none; background: none; text-align: left; }

.slider-container {width: 50%; text-align: center; overflow: hidden; background-color: #eeeeee; margin: 20px; border-radius:10px;}

.slider {
    padding: 0 auto;
    width: 80%; 
    margin: 15% 10%;
    padding: 5%;
}

.slider li {
    text-align: center;
}

.slider img{
    height: auto;
    width: 100%;
    justify-self: center;
}

.slick-prev:before, .slick-next:before {
    color: green;
}

.slick-dots li.slick-active button:before {
    color: darkgreen;
}

.slides div li {list-style: none;}
.slides div {text-align: center;}

.slick-dots {position: relative;}


#cart-input {margin-top: 40px; }

#selects {position: relative;}
#color-selects {text-align: left;  display:inline-block;}
#color-select {margin-bottom: 15px;}
#num-select {display:inline-block; width: 100%;}

#cart-button {display:inline-block; width:100%; margin-top: 10px;}

/* cart pages */
#cart-content table {margin-top: 30px; margin-bottom: 60px;}
#cart-content form {display: inline;}
#cart-content .btn-circle {width:22px; height:22px; border-radius:11px; text-align:center; padding-left: 4px;}
#cart-content p {margin: 10px auto;}
#cart-content th {text-align: center;}
#cart-content td {vertical-align: middle; text-align: center;}
h3 {margin: 100px auto; text-align: center;}

#confirm h2 {margin-bottom:50px;}
.look {background-color: rgb(252, 209, 239); font-weight: bold; font-size: larger;}